<h1>Welcome to your abode abode</h1>
<h2><%= @dwelling.name %></h2>
<h3><%= @dwelling.address %></h3>
<div id="expenses-wrapper">
  <div id="expenses-list">
    <ul><%= render @dwelling.expenses %><ul>
  </div>
  <div id="new-expense-form-container">
    <%= render partial: "expenses/new", locals: {expense: Expense.new, dwelling_id: @dwelling.id} %>
  </div>
</div>

<div id="user_expenses">
  <ul><%= #render @user.user_expenses
  %><ul>
</div>

<p>Send the code '<%= @dwelling.secret_key %>' to your roommates to let them join this abode.</p>
